@use '../vars.scss';

.index {
    &__filters {
        overflow: auto;
        display: grid;
        grid-template-columns: 156px 320px;
        gap: 4px;

        @include vars.mobile {
            padding-bottom: 12px;
        }
    }
}

.index-table {
    overflow: auto;
    width: 100vw;
    padding-bottom: 16px;

    &__client {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 224px;

        @include vars.mobile {
            width: auto;
            margin: 16px 0;
        }
    }

    &__client-header {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &__client-logo {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    &__client-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__client-footer {
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 14px;
        line-height: 20px;
    }

    &__client-email {
        width: 174px;
        color: vars.$text-secondary;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include vars.mobile {
            width: calc(100vw - 32px);
        }
    }

    &__balance {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2px;
    }

    &__balance-number {
        font-weight: 600;
    }

    &__balance-icon {
        width: 24px;
        height: 24px;
    }

    &__mobile-head {
        display: none;
        margin-bottom: 2px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        color: vars.$text-secondary;

        @include vars.mobile {
            display: block;
        }
    }

    table {
        width: max-content;
        border-collapse: collapse;
    }

    thead {
        border-bottom: 2px solid vars.$darkner-16;

        @include vars.mobile {
            display: none;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid vars.$darkner-16;
            cursor: pointer;

            &:hover {
                td {
                    background-color: vars.$link-50;
                }
            }

            @include vars.mobile {
                display: block;

                &:hover {
                    td {
                        background-color: vars.$background-primary;
                    }
                }
            }
        }
    }

    th,
    td {
        width: 182px;
        padding: 16px 8px;
        background-color: vars.$background-primary;
        text-align: right;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;

        @include vars.mobile {
            width: fit-content;
            padding: 0;
            text-align: left;
        }

        &:first-child {
            width: 240px;
            text-align: left;
        }

        &.fixed {
            position: sticky;
            z-index: 1;

            &:nth-child(1) {
                left: 0;
            }

            &:nth-child(2) {
                left: 240px;

                @include vars.mobile {
                    left: 0;
                }
            }
        }

        @include vars.tablet {
            &:nth-child(2) {
                border-right: 1px solid vars.$darkner-16;
            }
        }

        @include vars.mobile {
            &:nth-child(2) {
                border-right: none;
            }
        }
    }

    td {
        font-weight: 400;

        @include vars.mobile {
            &:nth-child(1) {
                width: calc(100vw - 32px);
            }

            &:not(:nth-child(1)) {
                display: inline-block;
                margin-right: 24px;
                margin-bottom: 16px;
            }
        }
    }
}
