extends ../layout.pug

block variables
  - var page = 'index'

block content
    include ../components/select.pug
    include ../icons/icon-chevron-left.pug
    include ../icons/icon-arrow-sort.pug

    main.main
        .content
            .content-title
                .content-title__title-wrapper
                    h1.content-title__title Клиенты
            .index__filters
                +select({placeholder: 'Все партнёры', searchPlaceholder: 'ID или название', searchText: 'Ничего не найдено', elements: [{value: 'value2', text: 'Dropdown item'},{value: 'value3', text: 'Dropdown item'},{value: 'value4', text: 'Dropdown item'},{value: 'value5', text: 'Dropdown item'},{value: 'value6', text: 'Dropdown item'},{value: 'value7', text: 'Dropdown item'},{value: 'value8', text: 'Dropdown item'},{value: 'value9', text: 'Dropdown item'}]})
                +select({placeholder: 'Все клиенты', searchPlaceholder: 'ID или название', searchText: 'Ничего не найдено', elements: [{value: 'value2', text: 'Dropdown item'},{value: 'value3', text: 'Dropdown item'},{value: 'value4', text: 'Dropdown item'},{value: 'value5', text: 'Dropdown item'},{value: 'value6', text: 'Dropdown item'},{value: 'value7', text: 'Dropdown item'},{value: 'value8', text: 'Dropdown item'},{value: 'value9', text: 'Dropdown item'}]})
            .index-table
                table
                    thead
                        tr
                            th.fixed Клиент
                            th.fixed
                                .index-table__last-fixed Баланс
                            th Sonline
                            th Wazapa
                            th Trendinsta
                            th Картотека
                            th Sonline
                            th Wazapa
                            th Trendinsta
                            th Картотека
                    tbody
                        tr(data-href="./partner.html")
                            td.fixed
                                .index-table__client
                                    .index-table__client-header
                                        img.index-table__client-logo(src='img/logo-royal-barber.png' alt='Логотип партнёра')
                                        .index-table__client-name The Royal barbershop
                                    .index-table__client-footer
                                        .index-table__client-id ID: 
                                            span 0000 0000 0000 0000
                                        .index-table__client-email email.address.company@mail.ru
                            td.fixed
                                .index-table__mobile-head Баланс
                                .index-table__balance.index-table__last-fixed
                                    .index-table__balance-number 7 200
                                    +icon-coin('index-table__balance-icon')
                            td
                                .index-table__mobile-head Sonline
                                span 6 000
                            td
                                .index-table__mobile-head Wazapa
                                span 1 200
                            td
                                .index-table__mobile-head Trendinsta
                                span 0
                            td
                                .index-table__mobile-head Картотека
                                span —
                            td
                                .index-table__mobile-head Sonline
                                span 6 000
                            td
                                .index-table__mobile-head Wazapa
                                span 1 200
                            td
                                .index-table__mobile-head Trendinsta
                                span 0
                            td
                                .index-table__mobile-head Картотека
                                span —
                        tr(data-href="./partner.html")
                            td.fixed
                                .index-table__client
                                    .index-table__client-header
                                        img.index-table__client-logo(src='img/logo-abzu.png' alt='Логотип партнёра')
                                        .index-table__client-name ABZЫ Barbershop
                                    .index-table__client-footer
                                        .index-table__client-id ID: 
                                            span 0000 0000 0000 0000
                                        .index-table__client-email email.address.company@mail.ru
                            td.fixed
                                .index-table__mobile-head Баланс
                                .index-table__balance.index-table__last-fixed
                                    .index-table__balance-number 12 800
                                    +icon-coin('index-table__balance-icon')
                            td
                                .index-table__mobile-head Sonline
                                span 6 000
                            td
                                .index-table__mobile-head Wazapa
                                span 6 000
                            td
                                .index-table__mobile-head Trendinsta
                                span —
                            td
                                .index-table__mobile-head Картотека
                                span —
                            td
                                .index-table__mobile-head Sonline
                                span 6 000
                            td
                                .index-table__mobile-head Wazapa
                                span 6 000
                            td
                                .index-table__mobile-head Trendinsta
                                span —
                            td
                                .index-table__mobile-head Картотека
                                span —
                        tr(data-href="./partner.html")
                            td.fixed
                                .index-table__client
                                    .index-table__client-header
                                        img.index-table__client-logo(src='img/logo-anna-key.png' alt='Логотип партнёра')
                                        .index-table__client-name Anna Key
                                    .index-table__client-footer
                                        .index-table__client-id ID: 
                                            span 0000 0000 0000 0000
                                        .index-table__client-email email.address.company@mail.ru
                            td.fixed
                                .index-table__mobile-head Баланс
                                .index-table__balance.index-table__last-fixed
                                    .index-table__balance-number 300
                                    +icon-coin('index-table__balance-icon')
                            td
                                .index-table__mobile-head Sonline
                                span 0
                            td
                                .index-table__mobile-head Wazapa
                                span —
                            td
                                .index-table__mobile-head Trendinsta
                                span 300
                            td
                                .index-table__mobile-head Картотека
                                span —
                            td
                                .index-table__mobile-head Sonline
                                span 0
                            td
                                .index-table__mobile-head Wazapa
                                span —
                            td
                                .index-table__mobile-head Trendinsta
                                span 300
                            td
                                .index-table__mobile-head Картотека
                                span —
                        tr(data-href="./partner.html")
                            td.fixed
                                .index-table__client
                                    .index-table__client-header
                                        img.index-table__client-logo(src='img/logo-cherry.png' alt='Логотип партнёра')
                                        .index-table__client-name Вишня
                                    .index-table__client-footer
                                        .index-table__client-id ID: 
                                            span 0000 0000 0000 0000
                                        .index-table__client-email email.address.company@mail.ru
                            td.fixed
                                .index-table__mobile-head Баланс
                                .index-table__balance.index-table__last-fixed
                                    .index-table__balance-number 1 350
                                    +icon-coin('index-table__balance-icon')
                            td
                                .index-table__mobile-head Sonline
                                span 750
                            td
                                .index-table__mobile-head Wazapa
                                span —
                            td
                                .index-table__mobile-head Trendinsta
                                span 600
                            td
                                .index-table__mobile-head Картотека
                                span —
                            td
                                .index-table__mobile-head Sonline
                                span 750
                            td
                                .index-table__mobile-head Wazapa
                                span —
                            td
                                .index-table__mobile-head Trendinsta
                                span 600
                            td
                                .index-table__mobile-head Картотека
                                span —


            .pagination
                button.pagination__button.pagination__button_left.pagination__button_disabled(type='button')
                    +icon-chevron-left('pagination__icon')
                button.pagination__button(type='button') 1
                button.pagination__button.pagination__button_active(type='button') 2
                button.pagination__button.pagination__button_desktop(type='button') 3
                button.pagination__button.pagination__button_desktop(type='button') 4
                button.pagination__button.pagination__button_desktop(type='button') 5
                button.pagination__button.pagination__button_disabled(type='button') ...
                button.pagination__button(type='button') 6
                button.pagination__button.pagination__button_right(type='button')
                    +icon-chevron-left('pagination__icon pagination__icon_right')
