extends ../layout.pug

block variables
  - var page = 'index'

block content
    include ../components/select.pug
    include ../icons/icon-chevron-left.pug
    include ../icons/icon-arrow-sort.pug

    main.main
        .content
            .content-title
                .content-title__title-wrapper
                    h1.content-title__title Клиенты
            .index__filters
                +select({placeholder: 'Все партнёры', searchPlaceholder: 'ID или название', searchText: 'Ничего не найдено', elements: [{value: 'value2', text: 'Dropdown item'},{value: 'value3', text: 'Dropdown item'},{value: 'value4', text: 'Dropdown item'},{value: 'value5', text: 'Dropdown item'},{value: 'value6', text: 'Dropdown item'},{value: 'value7', text: 'Dropdown item'},{value: 'value8', text: 'Dropdown item'},{value: 'value9', text: 'Dropdown item'}]})
                +select({placeholder: 'Все клиенты', searchPlaceholder: 'ID или название', searchText: 'Ничего не найдено', elements: [{value: 'value2', text: 'Dropdown item'},{value: 'value3', text: 'Dropdown item'},{value: 'value4', text: 'Dropdown item'},{value: 'value5', text: 'Dropdown item'},{value: 'value6', text: 'Dropdown item'},{value: 'value7', text: 'Dropdown item'},{value: 'value8', text: 'Dropdown item'},{value: 'value9', text: 'Dropdown item'}]})

            .index-table
                .index-table__row.js-index-table-row(data-href='./partner.html')
                    .index-table__row-header
                        .index-table__name-block
                            img.index-table__logo(src='img/logo-royal-barber.png' alt='Логотип партнёра')
                            .index-table__name The Royal barbershop
                        .index-table__id ID: 
                            span 0000 0000 0000 0000
                        .index-table__email email.address.company@mail.ru
                    .index-table__row-footer
                        .index-table__balance
                            .index-table__balance-text Баланс
                            .index-table__balance-content
                                .index-table__balance-number 7 200
                                +icon-coin('index-table__balance-icon')
                        .index-table__scroll
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —
                .index-table__row.js-index-table-row(data-href='./partner.html')
                    .index-table__row-header
                        .index-table__name-block
                            img.index-table__logo(src='img/logo-abzu.png' alt='Логотип партнёра')
                            .index-table__name ABZЫ Barbershop
                        .index-table__id ID: 
                            span 0000 0000 0000 0000
                        .index-table__email email.address.company@mail.ru
                    .index-table__row-footer
                        .index-table__balance
                            .index-table__balance-text Баланс
                            .index-table__balance-content
                                .index-table__balance-number 12 800
                                +icon-coin('index-table__balance-icon')
                        .index-table__scroll
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —
                .index-table__row.js-index-table-row(data-href='./partner.html')
                    .index-table__row-header
                        .index-table__name-block
                            img.index-table__logo(src='img/logo-anna-key.png' alt='Логотип партнёра')
                            .index-table__name Anna Key
                        .index-table__id ID: 
                            span 0000 0000 0000 0000
                        .index-table__email email.address.company@mail.ru
                    .index-table__row-footer
                        .index-table__balance
                            .index-table__balance-text Баланс
                            .index-table__balance-content
                                .index-table__balance-number 300
                                +icon-coin('index-table__balance-icon')
                        .index-table__scroll
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —
                .index-table__row.js-index-table-row(data-href='./partner.html')
                    .index-table__row-header
                        .index-table__name-block
                            img.index-table__logo(src='img/logo-cherry.png' alt='Логотип партнёра')
                            .index-table__name Вишня
                        .index-table__id ID: 
                            span 0000 0000 0000 0000
                        .index-table__email email.address.company@mail.ru
                    .index-table__row-footer
                        .index-table__balance
                            .index-table__balance-text Баланс
                            .index-table__balance-content
                                .index-table__balance-number 1 350
                                +icon-coin('index-table__balance-icon')
                        .index-table__scroll
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —
                            .index-table__client
                                .index-table__client-name Sonline
                                .index-table__client-balance 6 000
                            .index-table__client
                                .index-table__client-name Wazapa
                                .index-table__client-balance 1 200
                            .index-table__client
                                .index-table__client-name Trendinsta
                                .index-table__client-balance 0
                            .index-table__client
                                .index-table__client-name Картотека
                                .index-table__client-balance —

            .pagination
                button.pagination__button.pagination__button_left.pagination__button_disabled(type='button')
                    +icon-chevron-left('pagination__icon')
                button.pagination__button(type='button') 1
                button.pagination__button.pagination__button_active(type='button') 2
                button.pagination__button.pagination__button_desktop(type='button') 3
                button.pagination__button.pagination__button_desktop(type='button') 4
                button.pagination__button.pagination__button_desktop(type='button') 5
                button.pagination__button.pagination__button_disabled(type='button') ...
                button.pagination__button(type='button') 6
                button.pagination__button.pagination__button_right(type='button')
                    +icon-chevron-left('pagination__icon pagination__icon_right')
